.container{
    width: 100vw;
    background-color: rgba(0, 71, 81, 1);
    height: 10vh;
    margin: 0 0 0 0;
    padding: 0;
    /*position: absolute;
    top: 105vh;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: hidden;
}

.container h2 {
    
    margin: 0;
    display: inline-block;
    color: white;
    padding-left: 5vw;
    padding-top: 3vh;

    
}